@use 'sass:map';

$t1: (
  font-size: 30px,
  line-height: 1.35,
);

$t2: (
  font-size: 26px,
  line-height: 1.34,
);

$t3: (
  font-size: 22px,
  line-height: 1.4,
);

$t4: (
  font-size: 20px,
  line-height: 1.45,
);

$t5: (
  font-size: 17px,
  line-height: 1.5,
);

$t6: (
  font-size: 15px,
  line-height: 1.5,
);

$t7: (
  font-size: 13px,
  line-height: 1.5,
);

@mixin typography($style) {
  font-size: map.get($style, font-size);
  line-height: map.get($style, line-height);
}
