@use '../scss/typography.scss' as *;

.container {
  @include typography($t5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  padding: 7px 10px;
  width: 100%;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
